body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.App {
  padding: 20px;
}
.headertop{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}
.profile-section{
  display: flex;
  gap: 10px;
  color: #000000;
}
.profile-info{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-direction: row;
}

.lowerHeader{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.total-employees{
  font-size: 30px;
  font-weight: bold;
  color: #000000;
}
.profile-image{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.employee-image{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
}
.employeecard-heading{
  display: flex;
  flex-direction: row;
  gap: 10px;

}
.employee-namerole{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.employee-name{
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}
.employee-role{
  font-size: 15px;
  color: #1f1f1f;
}
.employee-email{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.employee-email span{
  font-size: 15px;
  color: #1f1f1f;
}
.employee-email p{
  font-size: 15px;
  color: #000000;
}

header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search-bar {
  background-color: #ffffff;
  color: #000000;
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #333131;
}
.search-wrapper {
  position: relative;
display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 300px;
}
.search-icon {
  position: absolute;
  left: 8px; /* Position the icon inside the input */
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #888;
}

::placeholder {
  padding-left: 18px; /* Gap between icon and placeholder */
}

.filter-section {
  display: flex;
  gap: 10px;
}

.filter-section button {
  padding: 10px 20px;
  background-color: #ebebebfa;
  color: #000000;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.filter-section button:hover {
  background-color: #121111;
  color: #ffffff;
}

.employee-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.employee-card {
  background-color: #e6e6e6;
  color: black;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.employee-card h3 {
  margin: 10px 0;
}

.button-group {
  margin-top: 10px;
}

.block-btn,
.details-btn {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.block-btn {
  background-color: #ffffff;
  color: #000000;
}

.details-btn {
  background-color: #000000;
  color: #ffffff;
}

.block-btn:hover {
  background-color: #f8f8f8;

}

.details-btn:hover {
  background-color: #312e2e;
  
}
